<table class="table table-light">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      {% if source != 'school' %}
        <th>School</th>
      {% endif %}
      <th>Phone</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for teacher in collection %}
        <tr>
          <td>
            <a href="{% url 'schools:teacher_show' teacher_id=teacher.id %}">
              {{ teacher.user.email }}
            </a>
          </td>
          <td>{{ teacher.user.full_name }}</td>
          <td>{{ teacher.user.gender_description }}</td>
          {% if source != 'school' %}
            <td>{{ teacher.current_school_teacher.school.school_name }}</td>
          {% endif %}  
          <td>{{ teacher.user.phone }}</td>
          <td>{{ teacher.user.group_description }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        {% if source == 'school' %}
          <td class="text-center" colspan="5">No teachers found.</td>
        {% else %}
          <td class="text-center" colspan="6">No teachers found.</td>
        {% endif %}
      </tr>
    {% endif %}
  </tbody>
</table>
