{% extends 'layout.html' %}

{% block title %}
  {{ page_header }}
{% endblock title%}

{% block heading %}
  {{ page_header }}
{% endblock heading %}

{% block content %}
<div class="row my-3">
  <div class="col-md-9 col-lg-10 order-md-1 order-2">
    <table class="table table-light">
        <thead>
          <tr>
            <th class="text-center" colspan="2">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-end">Module</td>
            <td>{{ sheet.module.name }}</td>
          </tr>
          <tr>
            <td class="text-end">Name</td>
            <td>{{ sheet.name }}</td>
          </tr>
          <tr>
            <td class="text-end">Number</td>
            <td>{{ sheet.sheet_number }}</td>
          </tr>
          <tr>
            <td class="text-end">Description</td>
            <td>{{ sheet.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-lg-2 order-md-2 order-1">
      <div class="d-grid my-3">
        <a href="{% url 'modules:sheet_edit' sheet.id %}" class="btn btn-primary">Edit</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'modules:sheet_delete' sheet.id %}" class="btn btn-danger">Delete</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'modules:sheet_exercise_new' sheet.id %}" class="btn btn-primary">Add Exercise</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'modules:module_show' sheet.module.id %}" class="btn btn-primary">Module</a>
      </div>
    </div>
  </div>
  {% if has_tabs %}
    <ul class="nav nav-tabs" id="bootstrapTab" role="tablist">
      {{ tab_headers | safe }}
    </ul>
    <div class="tab-content" id="bootstrapTabContent">
      {{ tab_contents | safe }}
    </div>
  {% endif %}  
{% endblock content %}
