<table class="table table-light">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for user in collection %}
        <tr>
          <td>
            <a href="{% url 'core:show' user_id=user.id %}">
              {{ user.email }}
            </a>
          </td>
          <td>{{ user.full_name }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.gender_description }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4">No users found.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
