{% extends 'layout.html' %}

{% block title %}
  {{ page_header }}
{% endblock title%}

{% block heading %}
  {{ page_header }}
{% endblock heading %}

{% block content %}
<div class="row my-3">
  <div class="col-md-9 col-lg-10 order-md-1 order-2">
    <table class="table table-light">
      <thead>
        <tr>
          <th class="text-center" colspan="2">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-end">Email</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td class="text-end">First Name</td>
          <td>{{ user.first_name }}</td>
        </tr>
        <tr>
          <td class="text-end">Last Name</td>
          <td>{{ user.last_name }}</td>
        </tr>
        <tr>
          <td class="text-end">Gender</td>
          <td>{{ user.gender_description }}</td>
        </tr>
        <tr>
          <td class="text-end">Phone</td>
          <td>{{ user.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 col-lg-2 order-md-2 order-1">
    {% comment %} <div class="d-grid my-3">
      <a href="{% url 'core:user_edit' user.id %}" class="btn btn-primary">Edit</a>
    </div>
    <div class="d-grid my-3">
      <a href="{% url 'core:user_delete' user.id %}" class="btn btn-danger">Delete</a>
    </div> {% endcomment %}
    <div class="d-grid my-3">
      <a href="{% url 'core:users_index' %}" class="btn btn-primary">Users</a>
    </div>
  </div>
</div>
{% if has_tabs %}
    <ul class="nav nav-tabs" id="bootstrapTab" role="tablist">
      {{ tab_headers | safe }}
    </ul>
    <div class="tab-content" id="bootstrapTabContent">
      {{ tab_contents | safe }}
    </div>
  {% endif %}
{% endblock content %}