<table class="table table-light">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      {% if source != 'school' %}
        <th>School</th>
      {% endif %}
      <th>Grade</th>
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for school_student in collection %}
        <tr>
          <td>
            <a href="{% url 'schools:school_student_show' school_student_id=school_student.id %}">
              {{ school_student.student.user.email }}
            </a>
          </td>
          <td>{{ school_student.student.user.full_name }}</td>
          <td>{{ school_student.student.user.gender_description }}</td>
          {% if source != 'school' %}
            <td>{{ school_student.school.school_name }}</td>
          {% endif %}
          <td>{{ school_student.school_grade_description }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        {% if source == 'school' %}
          <td class="text-center" colspan="4">No students found.</td>
        {% else %}
          <td class="text-center" colspan="5">No students found.</td>
        {% endif %}
      </tr>
    {% endif %}
  </tbody>
</table>
