{% extends 'layout.html' %}

{% block title %}
  {{ page_header }}
{% endblock title%}

{% block heading %}
  {{ page_header }}
{% endblock heading %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-9 col-lg-10 order-md-1 order-2">
      <table class="table table-light">
        <thead>
          <tr>
            <th class="text-center" colspan="2">Details</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td class="text-end">Email</td>
            <td>{{ school_student.student.user.email }}</td>
          </tr>
          <tr>
            <td class="text-end">Full Name</td>
            <td>{{ school_student.student.user.full_name }}</td>
          </tr>
          <tr>
            <td class="text-end">Gender</td>
            <td>{{ school_student.student.user.gender_description }}</td>
          </tr>
          <tr>
            <td class="text-end">Student No</td>
            <td>{{ school_student.student.student_no }}</td>
          </tr>
          <tr>
            <td class="text-end">Date of Birth</td>
            <td>{{ school_student.student.date_of_birth }}</td>
          </tr>
          <tr>
            <td class="text-end">School</td>
            <td>{{ school_student.school.school_name }}</td>
          </tr>
          <tr>
            <td class="text-end">Grade</td>
            <td>{{ school_student.school_grade_description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col-lg-2 order-md-2 order-1">
      <div class="d-grid my-3">
        <a href="{% url 'subscriptions:subscription_new' school_student.id %}" class="btn btn-primary">Add Subscription</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'schools:school_show' school_student.school.id %}" class="btn btn-primary">School</a>
      </div>
    </div>
  </div>
  {% if has_tabs %}
    <ul class="nav nav-tabs" id="bootstrapTab" role="tablist">
      {{ tab_headers | safe }}
    </ul>
    <div class="tab-content" id="bootstrapTabContent">
      {{ tab_contents | safe }}
    </div>
  {% endif %}
{% endblock content %}