<table class="table table-light">
  <thead>
    <tr>
      {% if source != 'school_student' %}
        <th>Student</th>
      {% endif %}
      <th>Module</th>
      <th>Teacher</th>
      <th>Created at</th>
      <th>Started at</th>
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for subscription in collection %}
        <tr>
          {% if source != 'school_student' %}
            <td>{{ subscription.school_student.student.user.full_name }}</td>
          {% endif %}
          <td>
            <a href="{% url 'subscriptions:subscription_show' subscription_id=subscription.id %}">
              {{ subscription.module.name }}
            </a>
          </td>
          <td>{{ subscription.school_student.school_teacher.teacher.user.full_name }}</td>
          <td>{{ subscription.created_at }}</td>
          <td>{{ subscription.started_at }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        {% if source == 'school_student' %}
          <td class="text-center" colspan="4">No students found.</td>
        {% else %}
          <td class="text-center" colspan="5">No students found.</td>
        {% endif %}
      </tr>
    {% endif %}
  </tbody>
</table>
