{% extends 'layout.html' %}

{% block title %}
  {{ page_header }}
{% endblock title%}

{% block heading %}
  {{ page_header }}
{% endblock heading %}

{% load static %}
{% block content %}
  <input type="hidden" id="word01" name="word01" value="{{ word0 }}">
  <div class="row my-3">
    <div class="col-md-9 col-lg-10 order-md-1 order-2">
      <div class="row my-3">
        <div class="col">
          <h3 class="text-center">{{ sheet_exercise.title }}</h3>
        </div>
      </div>
      <div class="row m-3">
        <div class="col small bg-er-3">
          {{ sheet_exercise.banner_resolved | safe }}
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3 text-md-end">
          <label><strong>Exercise:</strong></label>
        </div>
        <div class="col-md">
          {{ sheet_exercise.instructions_resolved }}
        </div>
      </div>
      <div class="row my-3">
        {% csrf_token %}
        <div class="col">
        </div>
        <div class="col-4 col-md-2">
          <table class="table table-light">
            <thead>
              <th class="text-center">Word Ladder</th>
            </thead>
            <tbody>
              <tr>
                <td>{{ word0 }}</td>
              </tr>
                {% for field in form %}
                  <tr>
                    <td>{{ field }}</td>
                  </tr>
                {% endfor %}
              <tr>
                <td>{{ word_final }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 order-md-2 order-1">
      <div class="d-grid my-3">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'modules:sample_wordladder' sheet_exercise.id %}" class="btn btn-primary">Reset</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <script src="{% static 'js/er_wordladder.js' %}"></script>
{% endblock content %}