{% extends 'layout.html' %}

{% block title %}
  {{ page_header }}
{% endblock title%}

{% block heading %}
  {{ page_header }}
{% endblock heading %}

{% block content %}
  <div class="row my-3">
    <div class="col-md-9 col-lg-10 order-md-1 order-2">
      <div class="row my-3 mx-3">
        <div class="col small bg-er-3">
          <p>The vast majority of words in the English language are names for people, places or things. These words are called <strong>nouns</strong>.<strong></strong></p>
          <p><strong>People</strong>&nbsp;&nbsp; &nbsp;–&nbsp;&nbsp; &nbsp;e.g. author, Thomas, Nicole Kidman.<br>
            <strong>Places</strong>&nbsp;&nbsp; &nbsp;–&nbsp;&nbsp; &nbsp;e.g. stage, Hollywood, China.<br>
            <strong>Things</strong>&nbsp;&nbsp; &nbsp;–&nbsp;&nbsp; &nbsp;e.g. face, mirror, talent.
          </p>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3 text-md-end">
          <label><strong>Exercise:</strong></label>
        </div>
        <div class="col-md">
          Choose nouns from above the sentence to fill the gaps so they make sense. There are more words than you will need.
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <h5 id="drag1" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">
            <span id="word1" class="text-primary" draggable="true">dog</span>
          </h5>
        </div>
        <div class="col">
          <h5 id="drag2" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">
            <span id="word2" class="text-primary" draggable="true">cat</span>
          </h5>
        </div>
        <div class="col">
          <h5 id="drag3" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">
            <span id="word3" class="text-primary" draggable="true">fox</span>
          </h5>
        </div>
        <div class="col">
          <h5 id="drag4" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">
            <span id="word4" class="text-primary" draggable="true">giraffe</span>
          </h5>
        </div>
        <div class="col">
          <h5 id="drag5" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">
            <span id="word5" class="text-primary" draggable="true">elephant</span>
          </h5>
        </div>
      </div>
      <div class="row my-3">
        <div class="col text-center">
          <h5>The quick brown <span class="text-primary" id="span1" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">[....]</span> jumped over the lazy <span class="text-primary" id="span2" ondragstart="drag(event)" ondrop="drop(event, '[....]')" ondragover="allowDrop(event)">[....]</span>.</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 order-md-2 order-1">
      <div class="d-grid my-3">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'modules:sample_drag_drop' %}" class="btn btn-primary">Reset</a>
      </div>
      <div class="d-grid my-3">
        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
{% endblock content %}