<table class="table table-light">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Status</th>
      {% if source != 'school' %}
        <th>School</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for invitation in collection %}
        <tr>
          <td>
            <a href="{% url 'invitations:invitation_show' invitation_id=invitation.id %}">
              {{ invitation.email }}
            </a>
          </td>
          <td>{{ invitation.full_name }}</td>
          <td>{{ invitation.gender_description }}</td>
          <td>{{ invitation.group_name.title }}</td>
          <td>{{ invitation.status_description }}</td>
          {% if source != 'school' %}
            <td>{{ invitation.school.school_name }}</td>
          {% endif %}  
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        {% if source == 'school' %}
          <td colspan="5">No invitations found.</td>
        {% else %}
          <td colspan="6">No invitations found.</td>
        {% endif %}
      </tr>
    {% endif %}
  </tbody>
</table>
