{% comment %} {% load bootstrap_email %} {% endcomment %}

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ subject }}</title>
      <style media="all" type="text/css">
      {% bootstrap_email %}
    </style>
  </head>
  <body>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td class="navbar navbar-inverse" align="center">
          <!-- This setup makes the nav background stretch the whole width of the screen. -->
          <table width="650px" cellspacing="0" cellpadding="3" class="container">
            <tr class="navbar navbar-inverse">
              <td colspan="4"><a class="brand" href="{{ site_url }}">English Rules</a></td>
              <td>
                <ul class="nav pull-right">
                  <li>
                    <a href="{{ accept_url }}?token={{ invitation.invitation_token }}">Click here to accept the invitation</a>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF" align="center">
          <table width="650px" cellspacing="0" cellpadding="3" class="container">
            <tr>
              <td>
                <p>{{ invitation.first_name }}, </p>
                <p>You have been invited to join the English Rules community.</p>
                <p>Please click the link below to accept the invitation:</p>
                <p><a href="{{ accept_url }}?token={{ invitation.invitation_token }}">{{ accept_url }}?token={{ invitation.invitation_token }}</a>English Rules Invitation</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF" align="center">
          <table width="650px" cellspacing="0" cellpadding="3" class="container">
            <tr>
              <td>
                <hr>
                <p>[PUT YOUR COPYRIGHT OR OTHER FOOTERY GOODNESS HERE]</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>