<table class="table table-light">
  <thead>
    <tr>
      {% if source != 'sheet' %}
        <th>Module</th>
        <th>Sheet</th>
      {% endif %}
      <th>Type</th>
      <th>Order</th>
      <th>Line Items</th>
    </tr>
  </thead>
  <tbody>
    {% if collection %}
      {% for sheet_exercise in collection %}
        <tr>
          {% if source != 'sheet' %}
          <td>
            <a href="{% url 'modules:module_show' module_id=sheet_exercise.sheet.module.id %}">
              {{ sheet_exercise.sheet.module.name }}
            </a>
          </td>
          <td>
              <a href="{% url 'modules:sheet_show' sheet_id=sheet_exercise.sheet.id %}">
                {{ sheet_exercise.sheet.name }}
              </a>
            </td>
          {% endif %}
          <td>
            <a href="{% url 'modules:sheet_exercise_show' sheet_exercise_id=sheet_exercise.id %}">
              {{ sheet_exercise.exercise_type.name }}
            </a>
          </td>
          <td>{{ sheet_exercise.order }}</td>
          <td>{{ sheet_exercise.line_items_for_student }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        {% if source == 'index' %}
          <td class="text-center" colspan="5">No sheet exercises found.</td>
        {% else %}
          <td class="text-center" colspan="3">No sheet exercises found.</td>
        {% endif %}
      </tr>
    {% endif %}
  </tbody>
</table>
